{#

Family

#}
{%- if 'vivant seule' in SFM -%}
    {{'Vous vivez seul'}}
{%- if 'Une famille principale monoparentale sans isolée' in SFM -%}
    {{''}}
{%- endif -%}

{{"\n"}}
{{SFM}}
{{APAF}}

{# SFM is the big one #}

{#
{{SFM}}
{{APAF}}
{{MODV}}
{{INPER}}
{{INPERF}}
#}