{#

LYON FR

System Message Template for synthetic survey generation
https://github.com/isalva2/synth-survey-gen
#}

{#
check
#}

{% if not shuffle %}
    {% include 'intro.j2' %}

    {% include 'residence.j2' %}

    {% include 'family.j2' %}
{% else %}

{% endif %}
{% if verbose_debug %}
{% for key, value in _all_args.items() %}
{{ key }}: {{ value }}
{% endfor %}
{% endif %}