{#
biography template for synthetic survey generation
control flow for biography generation
#}
This is a test to see if the templating pipeline works.
Okay {{RT}}
Serial number: {{SERIALNO}} description: {{SERIALNO_desc}}.
Age: {{AGEP}} description: {{AGEP_desc}}
end.
