{#
biography template for synthetic survey generation
control flow for biography generation
#}{#
This block is for age and gender
#}You are a {{AGEP}} year old
{%- if AGEP | int < 13 -%}
    {{" child"}}
{%- elif AGEP | int < 18 -%}
    {{" teenager"}}
{%- elif ((AGEP | int >= 18) and (SEX=="Male")) -%}
    {{" man"}}
{%- elif ((AGEP | int >= 18) and (SEX=="Female")) -%}
    {{" woman"}}
{%- endif -%}