{#
Economic summary
#}
{{'Self Emplyment: ' + SEMP}}
{{'Social Security: ' + SSIP}}
{{'Supplementary Security Income: ' + SSIP}}
{{'Total earnings: '+PERNP}}
{{'Total income: '+PINCP}}

{{'Emplotment status: ' + ESR}}
{{"This person is making: " + PINCP|to_currency}}
{{"Hours worked: " + WKHP}}