{#
Relationship in household
#}
{%- set MARYR = (YEAR - MARHYP|int)|string -%}
{{'You have been married for ' + MARYR + ' years'}}
{%- if 'husband' in  RELSHIPP -%}
{{' to '+ RELSHIPP|desentence|indefinite}}
{%- elif RELSHIPP != 'Reference person' -%}
{{' and live with '+RELSHIPP|desentence|indefinite}}
{%- endif -%}
{{'.'}}