{#
Born outside of the US
#}
{% set DOB = (YEAR - AGEP|int)|string %}
{%- if CIT.startswith("U") -%}
{{
    "You were born in" + DOB|wspace + "in"|wspace + POBP|wspace
    +"and became a"|wspace + CIT|wspace + "in"|wspace + CITWP|wspace + "."
}}
{%- else -%}
{{
"You are not " + CIT | desentence+" and were born in "+DOB+" in" + POBP|wspace + "."
}}
{%- endif -%}