{#
System Message Template for synthetic survey generation
https://github.com/isalva2/synth-survey-gen

pretend your describing yourself to a new person

#TODO
add a randomizer to includes
#}
{% if not shuffle %}
    {% include 'intro.j2' %}

    {#
    Birth and citizenship
    #}
    {% include 'birth.j2' %}

    {#
    Relationship status
    #}
    {% include 'relationship.j2' %}

    {#
    Occupation - Student, Employee, Military and economic
    #}
    {% include 'occupation.j2' %}

    {#
    Insurance
    #}
    {% include 'health.j2'%}

{% else %}
    {% set sections = ['intro.j2', 'residence.j2', 'birth.j2', 'relationship.j2', 'occupation.j2'] %}
    {% for section in sections|randomize_includes %}
        {% include section %}
    {% endfor %}

{% endif %}

{#
Occupation: Student, worker, or retired and military history
#}
{%- if "No" in SCH -%}{# Working #}
    {{-"You do not go to school"+ "\n"-}}
{%- else -%}{# Student or retired #}
    {%- if SCHG.startswith("Grade")-%}
        {% include 'highschool.j2'%}
    {%- elif SCHG.startswith("College")-%}
        {% include 'college.j2'%}
    {%- endif -%}
{%- endif -%}

{# is Employed? -> Means of Transportation to Work #}
{%- if FOCCP == 'No'-%}
    {% include 'noOccupation.j2'%}
{%- else -%}
    {% include 'occupation.j2'%}
{%- endif -%}

{#
check
#}
{% if verbose_debug %}
{% for key, value in _all_args.items() %}
{{ key }}: {{ value }}
{% endfor %}
{% endif %}