{#
System Message Template for synthetic survey generation
https://github.com/isalva2/synth-survey-gen

pretend your describing yourself to a new person
#}
{# Age and gender if adult #}
{%- if AGEP|int < 18-%}

    {% include 'teen.j2' %}

{%- elif AGEP|int >=18 -%}

    {% include 'adult.j2' %}

{%- endif -%}

{#
Randomly Assigned residence by PUMA location
or generic location
#}
{% include 'residence.j2' %}

{#
Birth and citizenship
#}
{% if CIT.startswith('B') %}
    {% include 'bornUS.j2' %}
{% else %}
    {% include 'notBornUS.j2' %}
{% endif %}

{#
Relationship status
#}
{%- if MAR == 'Married'  -%}
    {% include 'married.j2'%}
{%- else -%}
    {% include 'notMarried.j2'%}
{% endif %}

{#
Occupation - Student, Employee, Military
#}
{% include 'occupation.j2' %}

{#
check
#}
{% if verbose_debug %}
{% for key, value in _all_args.items() %}
{{ key }}: {{ value }}
{% endfor %}
{% endif %}